{% extends "layout.html" %}
{% block head %}

{% endblock head %}
{%block content%}

<!-- main-->
<header id="start_header">
	<div id="start_page_header">
        <img class="profile" src="../static/images/산마늘.jpg" style="height: 100px; width: 100px; position:absolute; top: 10px; left:20% ;">
    </div>
</header>

<section id="two" class="wrapper style2">
	<div class="container">
		
	</div>
</section>

<br>
<div>
	<div>
		<img src="../static/images/delivery_car.png" style="max-width: 160px; margin-left: 28%;" alt="">
		<p style="text-align: center;">
			구독하는 농장물을 AI가 판별한<br> 성장주기에 따라 <b>배송</b>해드립니다.
		</p>
	</div>
	<div>
		<img src="../static/images/paymotion.png" style="max-width: 100px; margin-left: 40%;" alt="">
		<p style="text-align: center;">
			농협API와 연계된 안전한<br> 금융서비스를 <b>제공</b>해드립니다.
		</p>
	</div>
	<div>
		<img src="../static/images/cart.png" style="max-width: 100px; margin-left: 35%;" alt="">
		<p style="text-align: center;">
			주변 농장들과 다른 사람들이 키운<br> 농작물을 <b>구매</b>가능합니다.
		</p>
	</div>
	<div style="background-color: lightgrey; height: 10px;">
	</div>
</div>
<br>
<article>
	<p style="color: black; font-size: 20px; padding-left: 30px;">
		체험 후기(140개)
		<a href="#" class="account manger" style="font-size: 16px; ">전체보기</a>
	</p>
</article>
<div class="container">
	<p style="margin: 10px; font-weight: 800;">정진우<img src="../static/images/star.PNG"
			style="width: 50px; margin-top: 5px; margin-left: 5px;"></p>
	<p style="margin: 10px; font-size: 13px;">실시간영상으로 보면서 키우다보니 재밌고 심지어 맛도 좋아요!</p>
</div>
<div class="container">
	<p style="margin: 10px; font-weight: 800;">이민기<img src="../static/images/star.PNG"
			style="width: 50px; margin-top: 5px; margin-left: 5px;"></p>
	<p style="margin: 10px; font-size: 13px;">새로운 서비스 이용에 만족합니다!</p>
</div>
<div class="container">
	<p style="margin: 10px; font-weight: 800;">기원우<img src="../static/images/star.PNG"
			style="width: 50px; margin-top: 5px; margin-left: 5px;"></p>
	<p style="margin: 10px; font-size: 13px;">너무좋아요 영원히 사용할래요!</p>
</div>
<div class="container">
	<p style="margin: 10px; font-weight: 800;">고병표<img src="../static/images/star.PNG"
			style="width: 50px; margin-top: 5px; margin-left: 5px;"></p>
	<p style="margin: 10px; font-size: 13px;">집앞에 있는 마트보다 더 맛있어요!</p>
</div>
<div class="container">
	<p style="margin: 10px; font-weight: 800;">김민성<img src="../static/images/star.PNG"
			style="width: 50px; margin-top: 5px; margin-left: 5px;"></p>
	<p style="margin: 10px; font-size: 13px;">이것보다 더 좋은 서비스 있음 나와바!</p>
</div>
{% endblock %}